
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.wrap{
    height: 100%;
    width: 100%;
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-wrap{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgba(172, 158, 158, 0.7);
    padding: 5px;
    overflow: hidden;
}

.button-wrap{
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
}

.togglebtn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn1{
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    position: absolute;
    background: #9bbbd4;
    border-radius: 30px;
    transition: .5s;
}

#btn2{
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    margin-left: 115px;
    position: absolute;
    background: #9bbbd4;
    border-radius: 30px;
    transition: .5s;
}

#btn:active{
    margin-left: -10px;
}

.social-icons{
    margin: 8px auto;
    text-align: center;
}

.social-icons img{
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}

.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1.3px solid rgb(211, 206, 206);
    outline: none;
    background: transparent;
}

input::placeholder{
    color:rgb(44, 40, 40);
}

.submit{
    width: 85%;
    padding: 15px 25px;
    cursor: pointer;
    display: block;
    margin: 15px;
    background: #9bbbd4;
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}

#sign_up{
    left: 50px;
}
