<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/bootstraps/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/bootstraps/css/bootstrap.min.css"/>

    <title>Girls date</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">여자들 데이트</a>
            <a href="/" type="button" class="btn btn-info">before</a>
        </div>
    </nav>
\
    <div class="page-header">추천테마</div>
    <div class="container">
 
        <div class="container-fluid">
         
            <div class="row gy-4 mt-5 justify-content-center" >
                <div class="col-xl-2 col-md-4">
                  <div class="icon-box">
                    <i class="ri-store-line"></i>
                    <h3><a href="">맛집탐방</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4">
                  <div class="icon-box">
                    <i class="ri-bar-chart-box-line"></i>
                    <h3><a href="">쇼핑</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4">
                  <div class="icon-box">
                    <i class="ri-calendar-todo-line"></i>
                    <h3><a href="">힐링코스</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4">
                  <div class="icon-box">
                    <i class="ri-paint-brush-line"></i>
                    <h3><a href="">놀거리</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4">
                  <div class="icon-box">
                    <i class="ri-database-2-line"></i>
                    <h3><a href="">관광코스</a></h3>
                  </div>
                </div>
              </div>
        
             
        </div>
         
        </div>


    
</body>
</html>