<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>
<body>
<div><a href="/auth/login/kakao"><img src="/images/kakaolog.png" width=" 300px" height="60px"></a></div>
<div><a href="/auth/login/naver"><img src="/images/naverlog.png" width=" 300px" height="60px"></a></div>

    
</body>
</html>