<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>
<body>
    <h1>로그인</h1>
    <br>
    <form method="post" action="/">
        <table>
            <tr>
                <td><label>아이디</label></td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td><labeL>비밀번호</labeL></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <input type="submit" value="전송" name=""> 
           
    </form>
    <div><a href="/auth/login/kakao"><img src="/images/kakaolog.png" width=" 300px" height="60px"></a></div>
    <div><a href="/auth/login/naver"><img src="/images/naverlog.png" width=" 300px" height="60px"></a></div>

    <a href="/signup">회원가입</a>
    
</body>
</html>