<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/firstpage.css">
</head>
<body>
    <div class="wrap">
        <div class = "form-wrap">
            <div class="button-wrap">
                <div id="btn1"></div>
                 <button type = "button" class="togglebtn" >LOG IN</button>
                 <button type="button" class="togglebtn" onclick="location.href='/signup'">SIGN UP</button>
            </div>
            
            <form id="login" class="input-group" method="post" action="/login">
                <input type="text" class = "input-field" placeholder="ID" name='id'>
                <input type="password" class="input-field" placeholder="Password" name='password'>
                <button class ="submit">LOGIN</button>
                <div class = "social-icons">
                    <a href="/auth/login/kakao"><img src="/images/kakaolog.png" width=" 240px" height="57px"></a>
                </div>
            </form>
            
        </div>
    </div>

</body>
</html>