<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/bootstraps/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/bootstraps/css/bootstrap.min.css"/>

    <title>playing date</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">놀거리 데이트</a>
            <a href="/" type="button" class="btn btn-info">before</a>
        </div>
    </nav>
    <form class="hide">
        <h3>오늘의 데이트를 정해주세요</h3>
        <a href="/manman" class="date">남-남</a>
        <a href="/girlgirl" class="date">여-여</a>
        <a href="/couple" class="date">남-여</a>
    </form>
</body>
</html>