<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/firstpage.css">
</head>

<body>
    <div class="wrap">
        <div class="form-wrap">
            <div class = "button-wrap">
                <div id="btn2"></div>
                <button type="button" class="togglebtn" onclick="location.href='/login'">LOG IN</button>
                <button type = "button" class="togglebtn">SIGN UP</button>
                
            </div>

            <form id='sign_up' class="input-group" method="post" action="/signup" >
                <input type="text" name='id' class='input-field' placeholder='ID'>
                <input type="password" name="password" class = 'input-field' placeholder='Password'>
                <input type = "text" name="name" class='input-field' placeholder="UserName">
                <button class="submit">SIGN UP</button>
            </form>
        </div>
    </div>

</body>
</html>