<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W2D</title>
    <link rel="stylesheet" href="/font/fontawesome.min.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/bootstraps/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/bootstraps/css/bootstrap.min.css"/>
    <!-- <script src="../routes/auth.js"></script> -->
    <style>
    @font-face {
        font-family: 'KOTRAHOPE';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
      *{
        font-family: 'KOTRAHOPE';
        font-size: 30px;
        text-align: center;
        background-image: url('/images/background.jpg');
      }
                
        .hide{
          display: none;
        }

        #start{
            font-size: 100px;
            height: 250px;
            width: 40%;

            border-radius: 5%;

            
        }

        .hero-btn{
          background-color: red;
          border: none;
          opacity: 0.9;
        }
        .hero-btn:hover {
          will-change: transform;
          animation: heartbeat 1s ease-in-out infinite;
          
        }

        @keyframes heartbeat{
          0%{
              background-color: wheat;
              transform: none;
          }
          50%{
            background-color: red;
              transform: scale(2);
          }
          100%{
            background-color: wheat;
              transform: none;
          }
      }

        h1 {
          margin: 50px 0 15px;
        }
        .hero-area-inner{
          display: flex;
          justify-content: center;
          
          text-align: center;
          margin: auto;
        }
        
        .icon-box img{
          height: 200px;
          width: 150px;
          display: block;
        }

        .page-header h1{
          align-content: center;
        }
        .col-lg-9{
          position: absolute;
          bottom: 50%;
          left: 10%;        
          
        }

        .first-screen{
          display: block;
          justify-content: center;
          position: absolute;
          top: 160px;
          width: 100%;
          font-size: 50px;
        }

        .form-wrap{
          display: block;
          width: 1350px;
          height: 500px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: rgb(228,227,222, 0.6);
          margin: auto;
          padding: 20px;
          overflow: hidden;
          text-align: center;
        }

        .container-fluid{
          position: relative;
          top: 10%;
        }  
        
        .out{
          display: flex;
          justify-content: right;
        }
        .map{
          display: flex;
          justify-content: left;
          position: relative;

        }
        .sub{
          display: flex;
          position: absolute;
          top: 80%;
        }

        .btn-info a{
          color: #010b0c;
          font-size: 20px;
        }
        .btn-danger a{
          color: #010b0c;
          font-size: 20px;
        }
        .btn-danger{
          position: relative;
          left: 680px;
        }

        
        .col-md-4 a{
          color: black;
          font-size: 35px;
        }

    </style>
</head>
<body>
  <!-- 두근두근 PAGE -->
    <div class="hero-area-inner">

        <span class="first-screen">          
          <button type="button" id="start" class="hero-btn">??오늘 뭐하지??</button>
        </span>
      </div>
   
   
    <!-- THEME SELCET PAGE    -->
    <div class="container hide">

        <div class="page-header">
          <h1>T H E M E</h1>
        </div>

        <div class= "form-wrap">
          <div class="container-fluid" >
            <div class="row gy-4 mt-5 justify-content-center" >

              <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                  <i class="ri-store-line"></i>
                  <h3><a href="/foodtravel"><img src="/images/food2.png">Food</a></h3>
                </div>
              </div>

              <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                  <i class="ri-bar-chart-box-line"></i>
                  <h3><a href="/shopping"><img src="/images/shopping2.png">Shopping</a></h3>
                </div>
              </div>

              <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                  <i class="ri-calendar-todo-line"></i> 
                  <h3><a href="/healing"><img src="/images/healing2.png">Healing</a></h3>
                </div>
              </div>

              <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                  <i class="ri-paint-brush-line"></i>
                  <h3><a href="/playing"><img src="/images/playing2.png">Play</a></h3>
                </div>
              </div>

              <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                  <i class="ri-database-2-line"></i>
                  <h3><a href="/alchoal"><img src="/images/alcohol2.png">Alcohol</a></h3>
                </div>
              </div>

              <div class="col-xl-2 col-md-4">
                  <div class="icon-box">
                    <i class="ri-database-2-line"></i>
                    <h3><a href="/culture"> <img src="/images/culture2.png">Culture</a></h3>
                  </div>
              </div>

          </div>

        </div>
      </div>
            <div class="sub">
              <div class="map">
                <button type="button" class="btn btn-info" style="border-width: thick;"><a href="/map">이미 나는 가고 싶은 곳이 있다</a></button>
              </div>
              <div class="out">
                <button type = "button" class = "btn btn-danger" style="border-width: thick;"><a href = "/auth/logout">LOGOUT</a> </button>
              </div>
            </div>   
  </div>

</body>
<script>
    let BTn=document.getElementById("start");
    BTn.addEventListener("click",startingapp);
    ptag=document.querySelector('.hide');
    function startingapp(){
        ptag.classList.remove("hide");
        BTn.classList.add("hide");
    }
</script>
</html>